# dbt artifacts & vendor packages
ELT/target/
ELT/logs/
ELT/dbt_packages/
ELT/profiles/profiles.yml
ELT/profiles/.user.yml

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.*

# Ingestion local config
ingestion/config.yaml

# Terraform (keep lockfile tracked if you want reproducible providers)
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
